@import "_setting";
@import "_reset";
@import "_index";

// header begin
.header{
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2);
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2);
  box-shadow: 0 1px 4px rgba(0,0,0,.2);
}
.header-top{
  background: #555;
}
.header-top a{
  padding: 0 10px;
  height: 35px;
  line-height: 35px;
  font-size: 15px;
  color: #ccc;
  &:hover{
    color: $themeColor;
  }
}
.logo{
  display: block;
  height: 72px;
  width: 140px;
  background: url(http://www.renrendai.com/static/img/logo.png?v=f3810) no-repeat 0 center;
}
.nav>li{
  float: left;
}
.nav>li>a{
  padding: 0 20px;
  height: 72px;
  line-height: 72px;
  font-size: 18px;
  color:#555;
  &:hover,&:active{
    color: $themeColor;
  }
}
.nav .active{
  color: $themeColor;
}
.header-main{
  position: relative;
  z-index: 10;
  .dropdown-menu{
    top: 55px;
    z-index: 10;
  }
}

//footer begin
.footer{
  margin-top: 30px;
  padding: 10px 0;
  background: #5D5D5D;
  color: #ddd;
}
.footer li{
  float: left;
  min-width: 75px;
  height: 24px;
  line-height: 24px;
  margin-right: 10px;
}
.footer a{
  color: #ddd;
  &:hover{
    color: $themeColor;
  }
}
.footer .tel{
  font-size: 20px;
}
.footerUs p{
  margin-top: 6px;
}


//index begin
.patrol{
  background: #fff;
}
.banner,.banner li{
  height: 365px;
  width: 100%;
}
.banner img{
  display: block;
  margin: 0 auto;
}
.banner .switcher{
  position: absolute;
  left: 50%;
  bottom: 16px;
  z-index: 9;
  margin-left: -30px;
}
.banner .switcher a{
  float: left;
  width: 13px;
  height: 13px;
  margin-left: 10px;
  border-radius: 50%;
  background: #aaa;
}
.banner .switcher .active{
  background: $themeColor;
}
//list
.loanList td{
  line-height: 36px!important;
}
.loanList .listTitle,.newsList .listTitle{
  font-size: 20px;
  color: #555;
}
.loanList .creditLel{
  display: block;
  margin: 0 auto;
  border-radius: 18px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  font-style: normal;
  text-align: center;
}
.loanList tfoot a{
  color: #555;
  &:hover{
    color: $themeColor;
  }
}
.newsList table{
  text-align: left;
}
.newsList .text-right{
  text-align: right;
}

//invest borrow type
.proTypeContent .proList{
  width: 300px;
  height: 400px;
  margin-right: 20px;
  background-color: #fff;
  border: 1px solid #E0E0E0;
  border-radius: 5px;
  overflow: hidden;
  color: #555;
  font-size: 13px;
}
.proTypeContent h2{
  height: 50px;
  line-height: 50px;
  padding: 5px 20px;
  color: #fff;
  font-size: 18px;
  opacity: .7;
}
.proTypeContent .proContent{
  padding: 20px;
  padding-top: 10px;
}
.proTypeContent .proContent ul{
  height: 108px;
  margin-left: 20px;
  list-style: disc;
}
.proTypeContent .proFooter{
  margin: 16px 0 6px;
  padding-top: 20px;
  border-top: 1px solid #e9e9e9;
}
.proTypeContent .proFooter a{
  display: block;
  width: 160px;
  height: 36px;
  line-height: 36px;
  margin: 0 auto;
  font-size: 18px;
  text-align: center;
  border-radius: 5px;
}