@import "_setting";
@import "_reset";
@import "_index";
.clearFix:before,.clearFix:after{
  content:"";
  display:table;
}
.clearFix:after{
  clear:both;
}
.clearFix{
  zoom:1;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
.active{
  color: $themeColor;
}
// header begin
.container{
  width: 980px;
  margin: 0 auto;
}
.header-top{
  background: #555;
}
.header-top a{
  padding: 0 10px;
  height: 35px;
  line-height: 35px;
  font-size: 15px;
  color: #ccc;
  &:hover{
    color: $themeColor;
  }
}