@import "_setting";
@import "_reset";
@import "_index";
@font-face {
  font-family: 'iconfont'; src: url('../fonts/iconfont.eot');
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/iconfont.woff') format('woff'),
  url('../fonts/iconfont.ttf') format('truetype'),
  url('../fonts/iconfont.svg#uxiconfont') format('svg');
}
.iconfont{
  font-family: "iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.alert{
  padding: 15px;
  color: #a94442;
}
// header begin
.header,.banner{
  -moz-box-shadow: 0 4px 4px rgba(0,0,0,.2);
  -webkit-box-shadow: 0 4px 4px rgba(0,0,0,.2);
  box-shadow: 0 4px 4px rgba(0,0,0,.2);
}
.header{
  position: relative;
  z-index: 11;
}
.header-top{
  background: #555;
}
.header-top a{
  padding: 0 10px;
  height: 35px;
  line-height: 35px;
  font-size: 15px;
  color: #ccc;
  &:hover{
    color: $themeColor;
  }
}
.logo{
  display: block;
  height: 72px;
  width: 230px;
  background: url(../images/logo.png) no-repeat 0 center;
}
.nav>li{
  float: left;
}
.nav>li>a{
  padding: 0 20px;
  height: 72px;
  line-height: 72px;
  font-size: 18px;
  color:#555;
  &:hover,&:active{
    color: $themeColor;
  }
}
.nav .active{
  color: $themeColor;
}
.header-main{
  position: relative;
  background: #fff;
  z-index: 10;
  .dropdown-menu{
    top: 55px;
    z-index: 10;
  }
}

//footer begin
.footer{
  margin-top: 30px;
  padding: 10px 0;
  background: #5D5D5D;
  color: #ddd;
}
.footer li{
  float: left;
  min-width: 75px;
  height: 24px;
  line-height: 24px;
  margin-right: 10px;
}
.footer a{
  color: #ddd;
  &:hover{
    color: $themeColor;
  }
}
.footer .tel{
  font-size: 20px;
}
.footerUs p{
  margin-top: 6px;
}


//index begin
.patrol{
  background: #fff;
}
.banner li{
  width: 100%;
}
.banner{

}
.banner ul{
  height: 365px;
  overflow: hidden;
}
.banner img{
  display: block;
  width: 100%;
  height: 364px;
  margin: 0 auto;
}
.banner .switcher{
  position: absolute;
  left: 50%;
  bottom: 16px;
  z-index: 9;
  margin-left: -30px;
}
.banner .switcher a{
  float: left;
  width: 13px;
  height: 13px;
  margin-left: 10px;
  border-radius: 50%;
  background: #aaa;
}
.banner .switcher .active{
  background: $themeColor;
}
//list
.indexList{
  width: 780px;
}
.loanList .listTitle{
  font-size: 20px;
  color: #555;
}
.loanList .creditLel{
  display: block;
  margin: 8px auto 0 auto;
  border-radius: 18px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  text-align: center;
}
.loanList tfoot a{
  color: #555;
  &:hover{
    color: $themeColor;
  }
}
.tabsTitle{
  height: 42px;
}
.loanOwner .tabsTitle li,.loanList .tabsTitle li{
  position: relative;
  top: 1px;
  float: left;
  height: 38px;
  line-height: 38px;
  padding: 0 35px;
  border: 0;
  font-size: 16px;
  color: #999;
  text-align: center;
  border-left: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
  border-top: 4px solid #f2f2f2;
  &:hover{
    color: #474747;
    border-top-color: $themeColor;
  }
}
.loanList .tabsTitle li{
  border-color: #fff;
  font-weight: 600;
}
.loanListTitle a{
  font-size: 16px;
}
.loanOwner li.active,.loanList li.active{
  background: #fff;
  border-top: 4px solid $themeColor;
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
  color: #474747;
  cursor: pointer;
}
.loanOwner .tabContent,.loanList .tabContent{
  padding: 30px 35px;
  background: #fff;
  border: 1px solid #e0e0e0;
}
.loanListTitle em{
  margin: 13px 3px 13px 8px;
  padding: 2px 4px;
  color: #fff;
  background: $themeColor;
  border-radius: 3px;
  cursor: default;
}
.indexSide{
  width: 280px;
}
.progressValue{
  width: 60px;
  margin: 0 10px;
  height: 18px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  border-radius: 10px;
}
.loanListTitle .progress{
  width: 200px;
}
.loanListMenu{
  overflow: hidden;
  border-bottom: 1px solid #e2e2e2;
}
.loanListInfo dl{
  float: left;
  width: 116px;
  padding-left: 18px;
  border-right: 1px dashed #e2e2e2;

}
.loanListInfo dt{
  color: #5e5e5e;
  font-size: 12px;
}
.loanListInfo dd{
  height: 58px;
  line-height: 58px;
  overflow: hidden;
}
.loanListInfo dd .danger{
  margin-right: 5px;
  font-size: 38px;
}
.loanListInfo dd b{
  margin-right: 5px;
  font-size: 26px;
}
.loanProgress{
  width: 300px;
}
.loanListInfo .purchase{
  float: right;
  border-right: none;
}
.loanListInfo .purchase a{
  padding: 10px 36px;
}
.loanMore a{
  color: #a9a9a9;
  font-size: 16px;
  &:hover{
    color: $themeColor;
  }
}

//index side
.indexSide dl{
  border: 1px solid #e1e2e2;
}
.indexSide dt{
  position: relative;
  height: 40px;
  line-height: 40px;
  padding: 0 20px 0 36px;
  border-bottom: 1px solid #e7e7e7;
}
.latestInvest dt{
  margin-bottom: 10px;
}
.indexSide .iconfont{
  position: absolute;
  top: 8px;
  left: 10px;
  width: 24px;
  height: 24px;
  color: #888;
  font-size: 24px;
  line-height: 24px;
}
.newsMedia .iconfont{
  top: 7px;
}
.indexSide dd{
  padding: 10px 20px;
}
.news dt a{
  font-size: 12px;
}
.indexSide .scrollInvest{
  padding-top: 0;
  height: 202px;
  overflow: hidden;
}
.scrollInvest dd{
  position: relative;
  top: 10px;
  overflow: hidden;
}
.scrollInvest li{
  padding-bottom: 10px;
}
.latestInvest .time{
  float: left;
  width: 70px;
  color: #999;
  font-size: 12px;
  height: 42px;
  line-height: 42px;
}
.latestInvest .detail{
  float: left;
  width: 162px;
  height: 42px;
}
.latestInvest .detail .name{
  color: #999;
  font-size: 12px;
}
.investBoard li{
  margin-top: 4px;
}
.investBoard span{
  float: left;
  width: 25px;
  margin-right: 10px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  font-size: 12px;
  background-color: #c2c2c2;
  border-radius: 5px;
}
.investBoard .top{
  background-color: #18b160;
}
.investBoard b{
  float: left;
  width: 90px;
  margin-right: 10px;
  color: #525252;
  font-size: 14px;
  font-weight: normal;
  line-height: 30px;
  text-align: center;
}
.investBoard em{
  float: left;
  color: #7d7d7d;
  font-size: 14px;
  font-style: normal;
  line-height: 30px;
}
//invest borrow type
.proTypeContent .proList{
  width: 300px;
  height: 400px;
  margin: 0 20px 20px 0;
  background-color: #fff;
  border: 1px solid #E0E0E0;
  border-radius: 5px;
  overflow: hidden;
  color: #555;
  font-size: 13px;
}
.proTypeContent h2{
  height: 50px;
  line-height: 50px;
  padding: 5px 20px;
  color: #fff;
  font-size: 18px;
  opacity: .7;
}
.proTypeContent .proContent{
  height: 200px;
  padding: 10px 20px 20px 20px;
  overflow: hidden;
}
.proTypeContent .proContent ul{
  height: 108px;
  margin-left: 20px;
  list-style: disc;
}
.proTypeContent .proFooter{
  margin: 16px 0 6px;
  padding-top: 20px;
  border-top: 1px solid #e9e9e9;
}
.proTypeContent .proFooter a{
  display: block;
  width: 160px;
  height: 36px;
  line-height: 36px;
  margin: 0 auto;
  font-size: 18px;
  text-align: center;
  border-radius: 5px;
}
